In [4]:
import pyspark

In [5]:
import pandas as pd
pd.read_csv('test1.csv')

     Name  Age
0  connor   28
1    mike   29
2   steve   15

In [6]:
from pyspark.sql import SparkSession

In [7]:
spark=SparkSession.builder.appName('Practice').getOrCreate()

22/10/18 23:44:26 WARN Utils: Your hostname, Mac.local resolves to a loopback address: 127.0.0.1; using 100.93.38.51 instead (on interface en1)
22/10/18 23:44:26 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/10/18 23:44:26 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [8]:
spark

In [10]:
df_spark=spark.read.csv('test1.csv')

In [18]:
df_pyspark=spark.read.option('header', 'true').csv('test1.csv')

In [19]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [20]:
df_pyspark.head(3)

[Row(Name='connor', Age='28'),
 Row(Name='mike', Age='29'),
 Row(Name='steve', Age='15')]

In [21]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)

In [22]:
print("hello")

hello