In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

22/10/19 23:15:19 WARN Utils: Your hostname, Mac.local resolves to a loopback address: 127.0.0.1; using 100.93.38.51 instead (on interface en1)
22/10/19 23:15:19 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/10/19 23:15:19 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/10/19 23:15:19 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [4]:
spark

In [52]:
## read the data set
df_pyspark=spark.read.option('header','true').csv('test1.csv', inferSchema=True)

In [23]:
## check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [25]:
df_pyspark=spark.read.csv('test1.csv', header=True, inferSchema=True)
df_pyspark.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
|connor| 28|         1|
|  mike| 29|         2|
| steve| 15|         3|
+------+---+----------+

In [27]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [28]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [29]:
df_pyspark.columns

['Name', 'Age', 'Experience']

In [30]:
df_pyspark.head(3)

[Row(Name='connor', Age=28, Experience=1),
 Row(Name='mike', Age=29, Experience=2),
 Row(Name='steve', Age=15, Experience=3)]

In [31]:
df_pyspark.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
|connor| 28|         1|
|  mike| 29|         2|
| steve| 15|         3|
+------+---+----------+

In [36]:
df_pyspark.select(['Name','Experience']).show()

+------+----------+
|  Name|Experience|
+------+----------+
|connor|         1|
|  mike|         2|
| steve|         3|
+------+----------+

In [37]:
df_pyspark['Name']

Column<'Name'>

In [38]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [40]:
df_pyspark.describe().show()

+-------+------+-----------------+----------+
|summary|  Name|              Age|Experience|
+-------+------+-----------------+----------+
|  count|     3|                3|         3|
|   mean|  null|             24.0|       2.0|
| stddev|  null|7.810249675906654|       1.0|
|    min|connor|               15|         1|
|    max| steve|               29|         3|
+-------+------+-----------------+----------+

In [53]:
## adding columns in dataframe
df_pyspark=df_pyspark.withColumn('Experience After 2 Years', df_pyspark['Experience']+2)

In [54]:
df_pyspark.show()

+------+---+----------+------------------------+
|  Name|Age|Experience|Experience After 2 Years|
+------+---+----------+------------------------+
|connor| 28|         1|                       3|
|  mike| 29|         2|                       4|
| steve| 15|         3|                       5|
+------+---+----------+------------------------+

In [55]:
## drop the columns
df_pyspark=df_pyspark.drop('Experience After 2 Years')

In [56]:
df_pyspark.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
|connor| 28|         1|
|  mike| 29|         2|
| steve| 15|         3|
+------+---+----------+

In [57]:
## rename the columsn
df_pyspark.withColumnRenamed('Name', 'New Name').show()

+--------+---+----------+
|New Name|Age|Experience|
+--------+---+----------+
|  connor| 28|         1|
|    mike| 29|         2|
|   steve| 15|         3|
+--------+---+----------+